@font-face {
  font-family: openSansRegular;
  src: url("../fonts/OpenSans-Regular.ttf"); }
@font-face {
  font-family: openSansSemiBold;
  src: url("../fonts/OpenSans-SemiBold.ttf"); }
@font-face {
  font-family: openSansExtraBold;
  src: url("../fonts/OpenSans-ExtraBold.ttf"); }
@font-face {
  font-family: openSansCondensedBold;
  src: url("../fonts/OpenSans-CondBold.ttf"); }
@font-face {
  font-family: futuraBoldItalic;
  src: url("../fonts/FuturaBoldItalic.ttf"); }
@font-face {
  font-family: bebasNeue;
  src: url("../fonts/BebasNeue-Regular.ttf"); }
body .wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto; }
  body .wrapper .header {
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    margin: 0;
    padding: 0; }
    body .wrapper .header .header_secondary {
      grid-column: 1/13;
      grid-row: auto;
      display: flex;
      justify-content: center;
      background-color: #191919; }
      body .wrapper .header .header_secondary .header_secondary-info {
        display: flex; }
        body .wrapper .header .header_secondary .header_secondary-info .header_secondary-info-item {
          padding: 12px;
          text-decoration: none;
          text-transform: uppercase;
          font-family: openSansSemiBold;
          font-size: 12px;
          color: #f1f1f1; }
          body .wrapper .header .header_secondary .header_secondary-info .header_secondary-info-item:nth-child(11) {
            font-family: openSansExtraBold; }
          body .wrapper .header .header_secondary .header_secondary-info .header_secondary-info-item:nth-child(13) {
            font-family: openSansExtraBold;
            color: #f68100; }
        body .wrapper .header .header_secondary .header_secondary-info .header_secondary-info-sep {
          padding: 12px;
          font-size: 12px;
          color: #f1f1f1; }
    body .wrapper .header .header_primary {
      grid-column: 1/13;
      grid-row: auto;
      padding: 20px;
      display: grid;
      grid-template-columns: 1/12;
      grid-template-rows: auto; }
      body .wrapper .header .header_primary .header_primary-logo {
        grid-column: 4/5;
        grid-row: auto; }
      body .wrapper .header .header_primary .header_primary-menu {
        grid-column: 6/8;
        grid-row: auto; }
        body .wrapper .header .header_primary .header_primary-menu .header_primary-menu-list {
          display: flex; }
          body .wrapper .header .header_primary .header_primary-menu .header_primary-menu-list .header_primary-menu-list-item {
            padding: 0 10px;
            font-size: 14px;
            font-family: openSansCondensedBold;
            color: #000;
            text-transform: uppercase;
            list-style: none; }
            body .wrapper .header .header_primary .header_primary-menu .header_primary-menu-list .header_primary-menu-list-item:nth-child(4) {
              color: #ff8f00; }
            body .wrapper .header .header_primary .header_primary-menu .header_primary-menu-list .header_primary-menu-list-item .header_primary-menu-list-item-link {
              text-decoration: none; }
              body .wrapper .header .header_primary .header_primary-menu .header_primary-menu-list .header_primary-menu-list-item .header_primary-menu-list-item-link:hover {
                border-bottom: 1px solid #000; }
      body .wrapper .header .header_primary .header_primary-language {
        grid-column: 9/12;
        grid-row: auto; }
        body .wrapper .header .header_primary .header_primary-language .header_primary-language-list {
          display: flex; }
          body .wrapper .header .header_primary .header_primary-language .header_primary-language-list .header_primary-language-list-item {
            padding: 0 10px;
            font-family: openSansCondensedBold;
            font-size: 14px;
            text-transform: uppercase;
            list-style: none; }
            body .wrapper .header .header_primary .header_primary-language .header_primary-language-list .header_primary-language-list-item .header_primary-language-list-item-link {
              text-decoration: none;
              color: #a3a3a3; }
            body .wrapper .header .header_primary .header_primary-language .header_primary-language-list .header_primary-language-list-item .header_primary-language-list-item-link-active {
              color: #000; }
  body .wrapper .main {
    grid-column: 1/13;
    grid-row: auto; }
    body .wrapper .main .main_sectionOne {
      position: relative; }
      body .wrapper .main .main_sectionOne .main_sectionOne-img-item {
        width: 100%; }
      body .wrapper .main .main_sectionOne .main_sectionOne-container .main_sectionOne-container-left-link-banner {
        position: absolute;
        top: 73%;
        left: 23%;
        display: flex;
        align-items: center;
        padding: 20px 90px;
        background-color: #020a28; }
        body .wrapper .main .main_sectionOne .main_sectionOne-container .main_sectionOne-container-left-link-banner .main_sectionOne-container-left-link-banner-itemA {
          margin: 0;
          padding: 0 20px 0 0;
          font-family: bebasNeue;
          font-size: 30px;
          text-transform: uppercase;
          color: #fff; }
        body .wrapper .main .main_sectionOne .main_sectionOne-container .main_sectionOne-container-left-link-banner .main_sectionOne-container-left-link-banner-itemB {
          font-size: 20px;
          color: #fff; }
      body .wrapper .main .main_sectionOne .main_sectionOne-container .main_sectionOne-container-right {
        position: absolute;
        left: 60%;
        top: 6%;
        text-align: center; }
        body .wrapper .main .main_sectionOne .main_sectionOne-container .main_sectionOne-container-right .main_sectionOne-container-right-versesGroupA-itemOne {
          display: inline-block;
          position: relative;
          margin: 0;
          padding: 0 15px;
          font-family: futuraBoldItalic;
          font-size: 70px;
          color: black;
          text-transform: uppercase;
          background: black;
          transform: rotate(2deg); }
          body .wrapper .main .main_sectionOne .main_sectionOne-container .main_sectionOne-container-right .main_sectionOne-container-right-versesGroupA-itemOne::before {
            content: attr(data-text);
            position: absolute;
            left: 0;
            right: 0;
            padding: 0 7.5px;
            color: #fff;
            transform: rotate(-2deg);
            top: 0; }
        body .wrapper .main .main_sectionOne .main_sectionOne-container .main_sectionOne-container-right .main_sectionOne-container-right-versesGroupA-itemTwo {
          display: inline-block;
          position: relative;
          margin: 0;
          padding: 0 15px;
          font-family: futuraBoldItalic;
          font-size: 70px;
          color: black;
          text-transform: uppercase;
          background: black;
          transform: rotate(2deg);
          top: -17px; }
          body .wrapper .main .main_sectionOne .main_sectionOne-container .main_sectionOne-container-right .main_sectionOne-container-right-versesGroupA-itemTwo::before {
            content: attr(data-text);
            position: absolute;
            left: 0;
            right: 0;
            padding: 0 7.5px;
            color: #fff;
            transform: rotate(-2deg);
            top: -10px; }
        body .wrapper .main .main_sectionOne .main_sectionOne-container .main_sectionOne-container-right .main_sectionOne-container-right-versesGroupA-itemThree {
          display: inline-block;
          position: relative;
          margin: 0;
          padding: 0 15px;
          font-family: futuraBoldItalic;
          font-size: 70px;
          color: black;
          text-transform: uppercase;
          background: black;
          transform: rotate(2deg);
          top: -38px; }
          body .wrapper .main .main_sectionOne .main_sectionOne-container .main_sectionOne-container-right .main_sectionOne-container-right-versesGroupA-itemThree::before {
            content: attr(data-text);
            position: absolute;
            left: 0;
            right: 0;
            padding: 0 7.5px;
            color: #fff;
            transform: rotate(-2deg);
            top: -15px; }
        body .wrapper .main .main_sectionOne .main_sectionOne-container .main_sectionOne-container-right .main_sectionOne-container-right-versesGroupB-itemOne {
          display: inline-block;
          position: relative;
          margin: 0;
          padding: 0 15px;
          font-family: futuraBoldItalic;
          font-size: 70px;
          color: black;
          text-transform: uppercase;
          background: black;
          transform: rotate(2deg);
          top: -40px; }
          body .wrapper .main .main_sectionOne .main_sectionOne-container .main_sectionOne-container-right .main_sectionOne-container-right-versesGroupB-itemOne::before {
            content: attr(data-text);
            position: absolute;
            left: 0;
            right: 0;
            padding: 0 7.5px;
            color: #fff;
            transform: rotate(-2deg);
            top: 5px; }
        body .wrapper .main .main_sectionOne .main_sectionOne-container .main_sectionOne-container-right .main_sectionOne-container-right-versesGroupB-itemTwo {
          display: inline-block;
          position: relative;
          margin: 0;
          padding: 0 15px;
          font-family: futuraBoldItalic;
          font-size: 70px;
          color: black;
          text-transform: uppercase;
          background: black;
          transform: rotate(2deg);
          top: -60px; }
          body .wrapper .main .main_sectionOne .main_sectionOne-container .main_sectionOne-container-right .main_sectionOne-container-right-versesGroupB-itemTwo::before {
            content: attr(data-text);
            position: absolute;
            left: 0;
            right: 0;
            padding: 0 7.5px;
            color: #fff;
            transform: rotate(-2deg);
            top: 0; }
        body .wrapper .main .main_sectionOne .main_sectionOne-container .main_sectionOne-container-right .main_sectionOne-container-right-versesGroupB-itemThree {
          display: inline-block;
          position: relative;
          margin: 0;
          padding: 0 15px;
          font-family: futuraBoldItalic;
          font-size: 70px;
          color: black;
          text-transform: uppercase;
          background: black;
          transform: rotate(2deg);
          top: -77px; }
          body .wrapper .main .main_sectionOne .main_sectionOne-container .main_sectionOne-container-right .main_sectionOne-container-right-versesGroupB-itemThree::before {
            content: attr(data-text);
            position: absolute;
            left: 0;
            right: 0;
            padding: 0 7.5px;
            color: #fff;
            transform: rotate(-2deg);
            top: -5px; }
        body .wrapper .main .main_sectionOne .main_sectionOne-container .main_sectionOne-container-right .main_sectionOne-container-right-img {
          position: absolute;
          top: 83%;
          right: 15%;
          width: 100%; }

/*# sourceMappingURL=main.css.map */
