//MIXINS

//SECTION ONE

@mixin verses{
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0 15px;
  font-family: futuraBoldItalic;
  font-size: 50px;
  color: black;
  text-transform: uppercase;
  background: black;
  transform: rotate(2deg);
  @media screen and(max-width: 800px){
    font-size: 33px;
    transform: rotate(1deg);
  }
}

@mixin versesBefore{
  content: attr(data-text);
  position: absolute;
  left: 0;
  right: 0;
  padding: 0 7.5px;
  color: #fff;
  transform: rotate(-2deg);
  @media screen and(max-width: 800px){
    transform: rotate(-1deg);
  }
}

@mixin button{
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 200px;
  background-color: #ff2a69;
}

@mixin buttonItem{
  margin: 0;
  padding: 0;
  font-family: bebasNeue;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}

@mixin buttonIcon{
  display: flex;
  align-self: center;
  padding-left: 10px;
  color: #fff;
}

//FOOTER

@mixin footerTitle{
  font-family: openSansCondensedBold;
  color: #f9f5f5;
  text-transform: uppercase;
}

@mixin footerList{
  list-style: none;
  padding: 0;
}

@mixin footerLink{
  color: #f9f5f5;
  text-decoration: none;
  font-family: openSansCondensedBold;
  font-size: 12px;
}