//MIXINS

//SECTION ONE

@mixin verses{
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0 15px;
  font-family: futuraBoldItalic;
  font-size: 50px;
  color: black;
  text-transform: uppercase;
  background: black;
  transform: rotate(2deg);
  @media screen and(max-width: 800px){
    font-size: 33px;
    transform: rotate(1deg);
  }
}

@mixin versesBefore{
  content: attr(data-text);
  position: absolute;
  left: 0;
  right: 0;
  padding: 0 7.5px;
  color: #fff;
  transform: rotate(-2deg);
  @media screen and(max-width: 800px){
    transform: rotate(-1deg);
  }
}